<html>

    <head>
        <title>GsPr0xy</title>
        <link rel="icon" sizes="512x512" href="_home/res/Alt Logo.png">
        <link rel="stylesheet" href="https://cdn.statically.io/gh/GsLibrary/Library/main/Fonts.css">
        <link rel="stylesheet" href="_home/style.css">
    </head>

    <body>
		<div class="container">
            <div class="logo">
                <img src="_home/res/Full Logo.png">
            </div>
            <div class="search">
                <input id="inpText" type="search" placeholder="https://example.com">
                <input id="inpSub" type="submit" value="GO!">
            </div>
        </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
        <script src="https://cdn.statically.io/gh/GsLibrary/Library/main/NewScript.js"></script>
        <script src="https://kit.fontawesome.com/5f8433758a.js"></script>
        <script src="_home/script.js"></script>
    </body>

</html>
